<% if line_item == @current_item%>
<div class="line-item-highlight">
<% else %>
<div>
<% end %>
<%= sprintf("%2d x %s", line_item.quantity, truncate(line_item.product.title, length: 50)) %><br/>
</div>